


/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap'); */

/* .divFilho{
  display:grid;
  grid-template-areas:
  "div1 div1 div2 div2 div2 div3"
  "div4 div5 div5 div6 div6 div7"
  "div8 div8 div8 div9 div10 div10";
  gap: 20px;
}
.div1{
  border: 1px solid black;
  grid-area: div1;
  height: 250px;
}
.div2{
  border: 1px solid black;
  grid-area: div2;
  height: 250px;
  font-family: 'Dancing Script', cursive;
}
.div3{
  border: 1px solid black;
  grid-area: div3;
  height: 250px;
}
.div4{
  border: 1px solid black;
  grid-area: div4;
  height: 250px;
}
.div5{
  border: 1px solid black;
  grid-area: div5;
  height: 250px;
}
.div6{
  border: 1px solid black;
  grid-area: div6;
  height: 250px;
}
.div7{
  border: 1px solid black;
  grid-area: div7;
  height: 250px;
}
.div8{
  border: 1px solid black;
  grid-area: div8;
  height: 250px;
}
.div9{
  border: 1px solid black;
  grid-area: div9;
  height: 250px;
}
.div10{
  border: 1px solid black;
  grid-area: div10;
  height: 250px;
} */